<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
	<h1>
		Welcome to Code Shop Warehouse!
	</h1>
</div>
<div id="orders-container">
	<div id="orders-cards-container">
        <H3>Here are the fill orders:</H3>
        <button clas="btn btn-primary" (click)="createNewOrder()">Create Order</button>
		<div class="card order-card" *ngFor="let order of fillOrders; let i = index">
			<div class="card-body flex-row">
				<h5 class="card-title">Order Id: {{order.id}}</h5>
				<p>Processed Date: <br />{{order.processedTimestamp | date: 'short' }}</p>
				<button *ngIf="!order.processedTimestamp" class="btn btn-primary" (click)="processFillOrder(order)">Process
					Order</button>
				<button *ngIf="order.processedTimestamp" class="btn btn-primary" disabled>Processed</button>
			</div>
		</div>
    </div>
</div>
